* {
    margin: 0px;
}
.app {
    background-color: #fafafa;
}
.app-header {
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}
.app-signup {
    display: flex;
    flex-direction: column;
}
.app-headerImage {
    object-fit: contain;
}
.app-posts {
    padding: 20px;
}
