.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}
.post-image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post-text {
    font-weight: normal;
    padding: 20px;
}
.post-header {
    display: flex;
    align-items: center;
    padding: 20px;
}
.post-avatar {
    margin-right: 10px;
}
.post-commentBox {
    display: flex;
    margin-top: 10px;
}
input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
}
.post-button {
    height: 40px;
    width: 100px;
    transform: translate(0, 10px);
    color: #6082a3;
}
.post-comments {
    padding-left: 20px;
}
